<nav  >
    <div >
        <a  href="/">
            <h1 class="title is-6 has-text-primary">BenTalk Blog</h1>
        </a>
    </div>
    <div  >
        <div>
            <ul class="navbar-item ">
                <li><a class="navbar-item has-text" href="/">Blogs</a></li>
                <li><a class="navbar-item has-text" href="/about">About</a></li>
                <li><a class="navbar-item has-text" href="/blogs/create">New Subject To Talk</a></li>
            </ul>
        </div>
    </div>
</nav>