<!-- <nav  >
    <div >
        <a  href="/">
            <h1 class="title is-6 has-text-primary">BenTalk Blog</h1>
        </a>
    </div>
    <div  >
        <div>
            <ul class="navbar-item ">
                <li><a class="navbar-item has-text" href="/">Blogs</a></li>
                <li><a class="navbar-item has-text" href="/about">About</a></li>
                <li><a class="navbar-item has-text" href="/blogs/create">New Subject To Talk</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title is-4 has-text-primary">BenTalk Blog</h1>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item has-text-primary" href="/">Blogs</a>
            <a class="navbar-item has-text-primary" href="/about">About</a>
            <a class="navbar-item has-text-primary" href="/blogs/create">New Subject To Talk</a>
        </div>
    </div>
</nav>