<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body class="has-text-centered">
    <%- include('./partials/nav.ejs') %>
    <container class="section">
        <div class="container">
            <h1 class="title is-1 has-text-danger">404 | Oops...</h1>
            <h2 class="subtitle">Cette page n'existe pas.</h2>
        </div>
    </container>
    <%- include('./partials/footer.ejs') %>
</body>
</html>