<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BenTalk</title>
</head>
<body>
    <nav>
        <div class="site title">
            <a href="/">
                <h1>BenTalk Blog</h1>
            </a>
            <p>Great Way To Talk</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/blogs/create">New Subject To Talk</a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h2>About the Subjects</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint, maxime deleniti facere mollitia eaque architecto magnam fugit distinctio, adipisci nesciunt non eum ea autem? Eveniet ipsa voluptas libero animi.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint, maxime deleniti facere mollitia eaque architecto magnam fugit distinctio, adipisci nesciunt non eum ea autem? Eveniet ipsa voluptas libero animi.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint, maxime deleniti facere mollitia eaque architecto magnam fugit distinctio, adipisci nesciunt non eum ea autem? Eveniet ipsa voluptas libero animi.</p>
    </div>
    
</body>
</html>