<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="bg-red-100 p-4">
    <%- include('./partials/nav.ejs') %>

    <container class="section">
      <div class="container">
        <h2 class="title">À Propos des Sujets</h2>
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
        </div>
      </div>
    </container>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
