<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body class="bg-red-100 p-4">
    <%- include('./partials/nav.ejs')  %>

    <container class="section">
        <div class="container">
            <h2 class="title">Créer un Nouveau Blog</h2>
            <form>
                <div class="field">
                    <label class="label" for="title">Titre</label>
                    <div class="control">
                        <input class="input" type="text" name="title" id="title" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="snippet">Extrait</label>
                    <div class="control">
                        <input class="input" type="text" id="snippet" name="snippet" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="body">Contenu</label>
                    <div class="control">
                        <textarea class="textarea" id="body" name="body" required></textarea>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary">Soumettre</button>
                </div>
            </form>
        </div>
    </container>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>