<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BenTalk | <%= title %></title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/">
                <h1>BenTalk Blog</h1>
            </a>
            <p>Great Way To Talk</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Subject To Talk</a></li>
        </ul>
    </nav>

    <div class="blogs-content">
        <h2>All Blogs</h2>

        <% if (blogs && blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
            <% }) %>
        <% } else { %>
            <p>Aucun blog pour le moment. Revenez plus tard !</p>
        <% } %>

    </div>
    
</body>
</html>
